.view{
 min-width: 50px;
  height: 20px;
  margin-bottom: 22px;
  background:#204485;
  color: white;
  border-radius: 3px;
	box-shadow: 0 2px 2px 0  rgb(41, 41, 41) ;
  border: none;
}
button{
   height: 20px;
   background:#204485;
   color: white;
   border: none;
 }
input{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    margin-bottom: 15px;
    display: block;
}
h4, img {
  display: inline-block;
  margin-bottom: -5px;

}
img{
  margin-right: 2px;
  margin-left: 2px;
  font-size: 0.8em;

}
.task-table {
  border-collapse: collapse;
  width: 100%;
}

.task-table th {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

.task-table td {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}